body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.mapContainer {
  width: 50%;
  padding-top: 3em; 
}

.quakeContainer {
  width: 40%;
  padding-top: 2em; 
  padding-right: 2em;
}


#info{
  font-size: 15px;
  padding: 10px;
}

.img {
   width: 20px;
}